<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="UserHeaderNav.master.cs" Inherits="Online_photoGallery_admin.UserHeaderNav" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link href="UserHeaderNav_css.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="screen">
            <div class="header">
                <h1>Online PhotoGallery</h1>
                <div class="searchbr">
                    <asp:Button ID="searchbtn" CssClass="searchbtn" runat="server" Text="Search" OnClick="searchbtn_Click" />
                    <input id="searchinput" runat="server" class="Searchinput" type="text" />
                </div>
                <div class="disimgdiv3"></div>
            </div>
            <div class="nav">
                <asp:Button ID="dashbtn" CssClass="navbtns" runat="server" Text="Home"  OnClick="dashbtn_Click" />
                <asp:Button ID="logbtn" CssClass="navbtns" runat="server" Text="Logout" OnClick="logbtn_Click" />
                <%--<asp:Button ID="feedbackbtn"  CssClass="navbtns" runat="server" Text="Feedback"  OnClick="feedbackbtn_Click" />--%>
                <asp:Button ID="favouritsbtn"  CssClass="navbtns" runat="server" Text="Favourites"  OnClick="favouritsbtn_Click" />

                <div class="disimgdiv1"></div>
                <div class="disimgdiv2"></div>
            </div>

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
        </div>
    </form>
    <script>
        function detectDevTools() {
            const devtools = /./;
            devtools.toString = () => {
                // Triggered when developer tools are open
                alert("Developer tools detected!");
            };
        }
        window.addEventListener("devtoolschange", function (e) {
            if (e.detail.open) {
                alert("Developer tools detected!");
            }
        });
        detectDevTools();
        document.oncontextmenu = function () {
            return false;
        };
        document.addEventListener("contextmenu", function (e) {
            e.preventDefault();
        });
    </script>
</body>
</html>
